<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新闻列表</title>
</head>

<style>

th{
    width: 1px;
    white-space: nowrap; /* 自适应宽度*/
    word-break:  keep-all; /* 避免长单词截断，保持全部 */
}

td{
    align:center;
}

</style>

<body>

 <form align="center" action="" method="post">
	新闻分类：<select name="category">
				<option th:each="category:${categoryList}"
						th:value="${category.id}"
						th:text="${category.cname}">
				</option>
	        </select>
	 新闻标题：<input name="" type="text" class="" value=""/>
	 <input type="submit" value="查询"/>
 </form> 
 
 <a>发布新闻</a>
 
 <!-- 
 <label for="name">名称</label>
 <input name="auctionname" type="text" class="nwinput" id="name" th:value="${condition.auctionname}"/>
 <input type="submit"  value="查询" class="spbg buttombg f14  sale-buttom"/>
 -->
 
<table width="90%" border="1px">
    <tr>
    <th>新闻编号</th>
    <th>新闻标题</th>
    <th>新闻摘要</th>
    <th>作者</th>
    <th>创建时间</th>
    <th> 操  作 </th>
    </tr>

	<tr th:each="news:${newsList}">
		<td th:text="${news.id}"></td>
		<td th:text="${news.title}"></td>
		<td th:text="${news.summary}"></td>
		<td th:text="${news.author}"></td>
		<td th:text="${news.createdate}"></td>
		<td white-space="nowrap">
		<a>修改</a>
		<a th:href="@{/delete/}+@{${news.id}}">删除</a>
		</td>
		<!-- 
		<a th:href="@{/findAuctionDetial/}+@{${auction.auctionid}}" title="">竞拍</a>
		 -->
	</tr>
</table>
</body>
</html>